[data-md-color-scheme="default"] {
  --md-typeset-code-color: var(--md-accent-fg-color);
}

[data-md-color-scheme="slate"] {
  --md-typeset-code-color: var(--md-accent-fg-color);
}

.md-nav__link:hover code,
.md-nav__link--active code {
  color: var(--md-accent-fg-color);
}
